body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f9f9f9;
}
    
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none !important;
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0px;
}